<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hackathon Codelab</h1>
    <p class="lead">Ecommerce example.</p>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card" *ngFor="let product of products$ | async;">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <button class="btn btn-danger float-right" (click)="onDelete(product._id)">Delete</button>
      </div>
    </div>
  </div>
</div>